.container{
  max-width: none !important;
  width: 970px;
}
.header-1 {
  /*font-family: 'Tinos', serif;*/
  font-weight:400;
  font-size:60px;
  margin-top:32px; 
  margin-bottom:26px;
}

.header-2 {
  /*font-family: 'Tinos', serif;*/
  font-weight:400;
  font-size:30px; 
  margin-top:26px;
  margin-bottom:16px;
}

.header-3 {
  /*font-family: 'Tinos', serif;*/
  font-weight:700;
  font-size:16px; 
  margin-top:16px;
  margin-bottom:22px;
}

.header-5 {
  font-weight: 700;
}

.dot {
  border-radius: 50%; 
  font-size:9px; 
  padding:0px 3px 0px 4px; 
  background:#009900; 
  color:#009900; 
  text-align:center;
}

.good { background:#33cc33; color:#33cc33; }
.moderate { background:#eebb00; color:#eebb00; }
.unhealthy-mild { background:rgb(255, 126, 0); color:rgb(255, 126, 0);  }
.unhealthy { background:#cc0000; color:#cc0000; }
.unhealthy-very { background:rgb(153, 0, 76); color:rgb(153, 0, 76); }
.hazardous { background:rgb(126, 0, 35); color:rgb(126, 0, 35); }

.btn-compact { padding: 2px; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px; 
}