a {
  color: #333 !important;
}
.container{
  max-width: none !important;
  width: 970px;
}
.chart-container {
  min-height: 100px;
}
.header-1 {
  /*font-family: 'Tinos', serif;*/
  font-weight:400;
  font-size:60px;
  margin-top:32px; 
  margin-bottom:26px;
}

.header-2 {
  /*font-family: 'Tinos', serif;*/
  font-weight:400;
  font-size:30px; 
  margin-top:18px;
  margin-bottom:26px;
}

.header-3 {
  /*font-family: 'Tinos', serif;*/
  font-weight:700;
  font-size:16px; 
  margin-top:28px;
  margin-bottom:24px;
}

.chart-header {
  /*font-family: 'Tinos', serif;*/
  font-weight:700;
  font-size:16px; 
  margin-top:28px;
  margin-bottom:4px;
}

.header-5 {
  font-weight: 700;
}

.dot {
  border-radius: 50%; 
  font-size:9px; 
  padding:0px 3px 0px 4px; 
  background:#009900; 
  color:#009900; 
  text-align:center;
}

.good { background:#33cc33; color:#33cc33; fill:#33cc33; stroke :#33cc33; stroke-width:1px;}
.moderate { background:#eebb00; color:#eebb00; fill:#eebb00; stroke:#eebb00; stroke-width:1px; }
.unhealthy-mild { background:rgb(255, 126, 0); color:rgb(255, 126, 0); fill:rgb(255, 126, 0); stroke:rgb(255, 126, 0); stroke-width:1px;}
.unhealthy { background:#cc0000; color:#cc0000; fill:#cc0000; stroke:#cc0000; stroke-width:1px; }
.unhealthy-very { background:rgb(153, 0, 76); color:rgb(153, 0, 76); fill:rgb(153, 0, 76); stroke:rgb(153, 0, 76); stroke-width:1px; }
.hazardous { background:rgb(126, 0, 35); color:rgb(126, 0, 35); fill:rgb(126, 0, 35); stroke:rgb(126, 0, 35); stroke-width:1px; }

.btn-compact { padding: 2px 22px 2px 22px; font-size:11px; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px; 
}

.small-text {
  font-size: 11px; 
}

.header {
  list-style-type: none; /*to remove bullets*/
  margin: 0 auto;
  padding: 0px;
  overflow: hidden;
}

.header li{
  float:left;
}

.plot {
  cursor: pointer;
}

/* Axis styles */
.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: #999;
}

.x.axis text {
  fill: #999;
  font-size: 11px;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}

/* Tooltip */
.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 20px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.borderless td, .borderless th {
  border: none !important;
  border-top: none;
}





