{% extends 'base.html' %}
{%block title %} Visualizing Air Quality: {{city}}{%endblock title %}
{% block body %}

<div class="row">
  <div class="col-sm-3">
    <div style="margin-top:10px; position:fixed; top:0px;">
      <span style="font-weight:bold; margin-left:20px;" class="header-5">Visualizing Air Quality</span>
    </div>
    <div id="filter-container" style="border:1px solid #ccc; width:210px; position:fixed; top:60px; border-radius: 6px; padding:10px 10px 16px 10px;">
     
      <table class="filter-list" style="margin-bottom:14px; height:30px;">
        <tr>
          <td><div style="font-size:18px;">Filters</div></td>
          <td>
            <div id="spinner" style="font-size:11px; color:#999; padding-left:40px; display:none;">
               <img src="{{url_for('static', filename='images/spinner.gif')}}">&nbsp;Loading 
            </div>
          </td>
        </tr>
      </table>
        
      <table class="filter-list" style="margin-bottom:3px;">
        <tr>
          <td style="width:70px; font-size:11px; font-weight:bold; padding-bottom:6px;">Month</td>
          <td style="font-size:11px; padding-bottom:6px;">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle btn-sm btn-compact" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" style="border-color:#fff;">
                Air quality
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Air quality</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Noise</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Dust</a></li>
              </ul>
            </div>
          </td>
        </tr>
        <tr>
          <td id="filter-month-buttons"></td>
          <td id="filter-month-chart" style="text-align:top;"></td>
        </tr>
      </table>

      <table class="filter-list" style="margin-bottom:3px; margin-top:20px;">
        <tr>
          <td style="width:70px; font-size:11px; font-weight:bold; padding-bottom:9px;">Time of day</td>
          <td style="font-size:11px; padding-bottom:6px;"></td>
        </tr>
        <tr>
          <td id="filter-time-buttons"></td>
          <td id="filter-time-chart"></td>
        </tr>
      </table>
      <div style="margin-top:30px;">
        <button id="reset-filters" class="btn btn-default btn-sm" style="width:100%;">Reset filters</button>
      </div>
    </div>
  </div>
  <div class="col-sm-9">
    <div style="margin-top:10px;">
      <a class="{{'selected' if city == 'Shanghai'}}" href="{{url_for('city', name='Shanghai')}}">Shanghai</a> -
      <a class="{{'selected' if city == 'Bangalore'}}" href="{{url_for('city', name='Bangalore')}}">Bangalore</a> -
      <a class="{{'selected' if city == 'Geneva'}}" href="{{url_for('city', name='Geneva')}}">Geneva</a> -
      <a class="{{'selected' if city == 'Rio de Janeiro'}}" href="{{url_for('city', name='Rio de Janeiro')}}">Rio de Janeiro</a> -
      <a class="{{'selected' if city == 'Boston'}}" href="{{url_for('city', name='Boston')}}">Boston</a> -
      <a class="{{'selected' if city == 'San Francisco'}}" href="{{url_for('city', name='San Francisco')}}">San Francisco</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-9">
    <div class="row">
      <div class="col-sm-12">
        <div class="header-1">{{city}}</div>
        <p>
          Using sensors located throughout {{city}}, a picture of the city's air quality emerges through data [1]. With this information, questions about the quality of life can start to be answered: Is the air ever hazardous? If so, how often? What is the air like during commute hours? Below are interactive charts that depict information about air quality that can answer these questions and more. 
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="header-2">Measuring Air Quality</div>
        <p>
          Air quality is measured by the air quality index, or AQI, a standard maintained by the U.S. Environmental Protection Agency. It takes into consideration five major air pollutants: ground-level ozone, particle pollution, carbon monoxide, sulfur dioxide, and nitrogen dioxide. AQI values span from 0 to 500, with 0 being clean and 500 being extremely hazardous.
        
        <div class="chart-header">{{city}}'s Daily Air Quality</div>
        <div id="timeseries-airquality_raw" class="chart-container"></div>
        <div id="timeseries-temperature" class="chart-container"></div>
        <div style="font-size:11px; line-height:16px; margin-top:20px; padding:4px 20px 0px 20px;">
          <strong>Air quality index key:</strong>&nbsp;
          <span contenteditable='false' class='dot good'>2</span> 0 to 50: good&nbsp;
          <span contenteditable='false' class='dot moderate'>2</span> 51 to 100: moderate&nbsp;
          <span contenteditable='false' class='dot unhealthy-mild'>2</span> 101 to 150: unhealth for sensitive groups&nbsp;
          <span contenteditable='false' class='dot unhealthy'>2</span> 151 to 200: unhealthy&nbsp;
          <span contenteditable='false' class='dot unhealthy-very'>2</span> 201 to 300: very unhealthy&nbsp;
          <span contenteditable='false' class='dot hazardous'>2</span> 301 to 500: hazardous. [2]
        </div>

        <ul class='inline-list header' style="width:100%;">
          <li style="width:50%;">
            <div class="chart-header">Air Quality Comparison</div>
          </li>
          <li style="width:50%; text-align:right; padding-top:26px;">
            <!--<span class="small-text">Sort by</span>&nbsp;-->
            <div class="btn-group"  id="airquality_raw-sort" role="group" aria-label="">
              <button type="button" name="sort" value="lower" id="lower" class="btn btn-default btn-sm btn-compact-2">Low</button>
              <button type="button" name="sort" value="median" id="median" class="btn btn-default btn-sm btn-compact-2 on">Median</button>
              <button type="button" name="sort" value="upper" id="upper" class="btn btn-default btn-sm btn-compact-2">High</button>
            </div>
          </li>
        </ul>

        <p>
          The chart below ranks the seven cities being measured by median AQI score. It also shows the low and high AQI scores for each. Low scores are the 10th percentile, and high are the 90th. 
        <div id="ranking-airquality_raw" class="chart-container"></div>
        
        <p>
          From <strong>January</strong> to <strong>March</strong>, only using data collected between <strong>4PM</strong> and <strong>6PM</strong>, {{city}}'s air average air quality score ranked <strong>7th</strong> out of the <strong>7</strong> cities being tracked. Its average air quality index score was <strong>54</strong>, which is moderately harmful. 

        <div class="chart-header">Air Quality Score Card</div>
        <table id="score-card" style="width:100%; font-size:11px;">
          <tr class="scores">
            <td class="good-score">
              87
              <div style="font-size:11px;">Good</div>
            </td>
            <td class="moderate-score">
              2
            </td>
            <td class="unhealthy-mild-score">
              0
            </td>
            <td class="unhealthy-score">
              0
            </td>
            <td class="unhealthy-very-score">
              0
            </td>
             <td class="hazardous-score">
              0
            </td>
          </tr>
          <tr>
            <td>
              Number of days where highest AQI remained lower than 50
            </td>
            <td>
              Number of days where highest AQI reach moderately unhealthy levels
            </td>
            <td>
              Number of days highest AQI reached healthy levels for sensitive groupd
            </td>
            <td>
              Number of days highest AQI reached unhealthy levels
            </td>
            <td>
              Number of days highest AQI reached very unhealthy levels
            </td>
             <td>
              Number of days highest AQI reached hazardous levels
            </td>
          </tr>
        </table>
        
        <hr>

        <p style="font-size:11px; color:#999;">
          [1] Notes on measurements: Lorem ipsum dolor sit amet, vis cu clita rationibus, his et ancillae sensibus. Illum saepe disputando id has, deserunt delicata appellantur ius ei, debet corrumpit ius ad. Lorem eloquentiam at pro, mollis propriae quaestio mea ne, ea vix aeterno suavitate. Nec id soluta eligendi.
        <p style="font-size:11px; color:#999;">
          [2] Qulaitative air quality index scale from <a href="http://airnow.gov/index.cfm?action=aqibasics.aqi">http://airnow.gov</a>

      </div>
    </div>
  </div>
</div>
{% endblock body %}
{% block js %}
  <script type='text/javascript'>
  var data = {{data | safe}};
  var city = "{{city | safe}}";
  var area_key = "{{url_for('static', filename='images/area_key.jpg')}}";
  //{{url_for('static', filename='images/spinner.gif')}}
  
  </script>
  <script type="text/javascript" src="{{url_for('static', filename='js/chart.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/filter.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/boxplot.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/boxplotvertical.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/areachart.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/city.js')}}"></script>
{% endblock js %}

