{% extends 'base.html' %}
{%block title %} Visualizing Cities: {{city}}{%endblock title %}
{% block body %}
<div class="row">
  <div class="col-sm-3">
    <div style="margin-top:10px;">
      <span style="font-weight:bold; margin-left:10px;" class="header-5">Visualizing Cities</span>
    </div>
    <div id="filters" style="border:1px solid #ccc; width:210px; height:500px; position:fixed; top:60px; border-radius: 6px; padding:10px;">
      <div class="btn-group-vertical" role="group" aria-label="">
        <button type="button" class="btn btn-default btn-sm btn-compact">Jan</button>
        <button type="button" class="btn btn-default btn-sm btn-compact">Feb</button>
        <button type="button" class="btn btn-default btn-sm btn-compact">Mar</button>
        <button type="button" class="btn btn-default btn-sm btn-compact disabled">Apr</button>
        <button type="button" class="btn btn-default btn-sm btn-compact disabled">May</button>
        <button type="button" class="btn btn-default btn-sm btn-compact disabled">Jun</button>
        <button type="button" class="btn btn-default btn-sm btn-compact disabled">Jul</button>
        <button type="button" class="btn btn-default btn-sm btn-compact disabled">Aug</button>
        <button type="button" class="btn btn-default btn-sm btn-compact disabled">Sep</button>
        <button type="button" class="btn btn-default btn-sm btn-compact disabled">Oct</button>
        <button type="button" class="btn btn-default btn-sm btn-compact disabled">Nov</button>
        <button type="button" class="btn btn-default btn-sm btn-compact disabled">Dec</button>
      </div>
    </div>
  </div>
  <div class="col-sm-9">
    <div style="margin-top:10px;">
      <span style="font-weight:bold;">Shanghai</span> - <a href="{{url_for('city', name='Singapore')}}">Singapore</a> - Bangalore - Geneva - Rio de Janeiro - Boston - San Francisco
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-9">
    <div class="row">
      <div class="col-sm-12">
        <div class="header-1">{{city}}</div>
        <p>
          With a stream of readings from 14 batteries of sensors set up in {{city}}, a picture of the city emerges through data. With this information, questions about the quality of life can start to be answered: How often is the air hazardous? What time of day does the air tend to be bad? How noisy is it at night? 
        <p>
          Below are interactive charts that depict information about air quality, noise, dust, light levels, temperature and humidity, that can answer these questions and more. 
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="header-2">Air Quality</div>
        <p>
          Air quality is measured by the air quality index, or AQI, a standard maintained by the U.S. Environmental Protection Agency. It takes into consideration five major air pollutants: ground-level ozone, particle pollution, carbon monoxide, sulfur dioxide, and nitrogen dioxide. AQI values span from 0 to 500, with 0 being clean and 500 being extremely hazardous.
        <!--
        <div class="header-3">Air Quality Ranking</div>
        <p>
          From <strong>January</strong> to <strong>March</strong>, only using data collected between <strong>4PM</strong> and <strong>6PM</strong>, Shanghai's air average air quality score ranked <strong>7th</strong> out of the <strong>7</strong> cities being tracked. Its average air quality index score was <strong>54</strong>, which is moderately harmful. 
        -->
        <ul class='inline-list header' style="width:100%;">
          <li style="width:50%;">
            <div class="chart-header">Air Quality Comparison</div>
          </li>
          <li style="width:50%; text-align:right; padding-top:26px;">
            <span class="small-text">Sort by</span>&nbsp;
            <div class="btn-group"  id="airquality_raw-sort" role="group" aria-label="">
              <button type="button" name="sort" value="lower" class="btn btn-default btn-sm btn-compact">Low</button>
              <button type="button" name="sort" value="median" class="btn btn-default btn-sm btn-compact">Median</button>
              <button type="button" name="sort" value="upper" class="btn btn-default btn-sm btn-compact">High</button>
            </div>
          </li>
        </ul>  
        
        <div id="ranking-airquality_raw" class="chart-container"></div>
        <div style="font-size:11px; line-height:18px; margin-top:8px;">
          <strong>Air quality index key:</strong>&nbsp;
          <span contenteditable='false' class='dot good'>2</span> 0 to 50 good&nbsp;
          <span contenteditable='false' class='dot moderate'>2</span> 51 to 100 moderate&nbsp;
          <span contenteditable='false' class='dot unhealthy-mild'>2</span> 101 to 150 unhealth for sensitive groups&nbsp;
          <span contenteditable='false' class='dot unhealthy'>2</span> 151 to 200 unhealthy&nbsp;
          <span contenteditable='false' class='dot unhealthy-very'>2</span> 201 to 300 very unhealthy&nbsp;
          <span contenteditable='false' class='dot hazardous'>2</span> 301 to 500 hazardous.
        </div>
        <div class="chart-header">Daily Air Quality Over Time</div>
        
        <div id="time-airquality_raw" class="chart-container" style="height:500px;"></div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
{% block js %}
  <script type='text/javascript'>
  var data = {{data | safe}};
  var city = "{{city | safe}}";
  var fakeData = [
    {
      'dimension': 'airquality_raw',
      'chart': 'ranking',
      'data': [
        {
          'name': 'Shanghai',
          'upper': 80,
          'median': 34,
          'lower': 19
        },
        {
          'name': 'Singapore',
          'upper': 57,
          'median': 34,
          'lower': 24
        },
        {
          'name': 'Bangalore',
          'upper': 265,
          'median': 144,
          'lower': 124
        },
        {
          'name': 'Geneva',
          'upper': 44,
          'median': 22,
          'lower': 18
        },
        {
          'name': 'Rio de Janeiro',
          'upper': 203,
          'median': 167,
          'lower': 145
        },
        {
          'name': 'Boston',
          'upper': 34,
          'median': 20,
          'lower': 14
        },
        {
          'name': 'San Francisco',
          'upper': 40,
          'median': 29,
          'lower': 18
        }
      ]
    }
  ]
  </script>
  <script type="text/javascript" src="{{url_for('static', filename='js/boxplot.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/city.js')}}"></script>
{% endblock js %}

