{% extends 'base.html' %}
{%block title %} Visualizing Air Quality: {{city}}{%endblock title %}
{% block body %}

<div class="row">
  <div class="col-sm-12">
    <div style="font-size:40px; margin-top:160px;">Visualizing Air Quality</div>
    <div style="font-size:18px; margin-top:0px;">An experiment in citizen-run, DIY air quality monitoring</div>
    <div id="intro-viz" style="height:420px;"></div>
    <div id="intro">
      <p>
        Those of us who live in more open societies can take for granted the freely available information we have access to. In many countries it is difficult to get reliable information on something as basic as air quality. [1]
      <p>
        As sensors become cheaper and more abundant, a future in which this type of data is more freely accessible becomes possible [2]. As part of a partnership between Swissnex, Grey Area and Lift Conference, more than 100 batteries of air quality sensors were set up in seven cities across the globe. These collect readings every 10 seconds, and are freely accessible to anyone with an internet connection.
      <p>
        Visualizing Air Quality is an exploration of how this type of data could be used to increase understanding of air quality by creating a panel of visualizations tailored to each city. With this information, questions about the quality of life can start to be answered: Is the air ever hazardous? If so, how often? What is the air like during commute hours?
    </div>
    <div>

    </div>
    <hr style="margin-top:30px;">
    <div style="font-size:11px; color:#999;">
      <p>Visualizing Air Quality is by Kevin Gates and Ramesh Sampath
      <p>
        [1] In China, for example, most cities only measure larger particles (PM 10), as opposed to the PM 2.5 standard used in the U.S. The larger particle readings don't offer a good picture of the air quality. See <a href="http://www.nytimes.com/2013/01/13/science/earth/beijing-air-pollution-off-the-charts.html">http://www.nytimes.com/2013/01/13/science/earth/beijing-air-pollution-off-the-charts.html</a>
      <p>
        [2] The data used in this experiment uses off-the-shelf equipment set up by volunteers, and may not be as accurate as industrial equipment. See <a href="http://map.datacanvas.org/#!/data">http://map.datacanvas.org/#!/data</a>
  </div>
</div>
{% endblock body %}
{% block js %}
  <script type='text/javascript'>
  //var data = {{data | safe}};
  
  //{{url_for('static', filename='images/spinner.gif')}}
  
  </script>
  <script type="text/javascript" src="{{url_for('static', filename='js/chart.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/index.js')}}"></script>
{% endblock js %}

